/* ul{
  list-style: none;
}
.m-goals{
  width:500px;
  margin:auto;
  background-image:radial-gradient(circle,#000066,black);
  color:white;
  font-size:22px;
}
h1{
  text-align: center;
  color:green;
} */